<app-grid-section>
  <app-grid>
    <app-grid-row>
      <app-grid-column>
        <h1 class="type-primary-heading">Product Search</h1>
      </app-grid-column>
    </app-grid-row>

    <app-grid-row>
      <app-grid-column>
        <app-search-bar
          [control]="form.get('searchTerm')"
          [name]="'searchTerm'"
          [label]="'Product search term'"
          [placeholder]="'Search by product name'"
        ></app-search-bar
      ></app-grid-column>
    </app-grid-row>

    <app-grid-row>
      <app-grid-column [md]="9"><app-product-search-results></app-product-search-results></app-grid-column>
      <app-grid-column [md]="3">Filters</app-grid-column>
    </app-grid-row>
  </app-grid>
</app-grid-section>
