@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visually-hidden {
  @include visually-hidden();
}

@mixin vertical-scrollbar() {
  overflow-y: auto;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    width: rem(5px);
    background: $color-background;
    border-left: solid rem(1px) $color-primary;
  }

  &::-webkit-scrollbar-thumb {
    width: rem(5px);
    background: $color-primary;
  }
}
