@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 rem(16px) 0;
}

.search-bar__label {
  display: block;
  margin: 0 0 rem(5px) 0;
}

.search-bar__input {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: rem(44px);
  padding: rem(13px) rem(15px) rem(10px) rem(45px);
  margin: 0;
  background: $color-background;
  border: solid rem(2px) $color-border;
  border-radius: rem(4px);
  outline: none;
  transition: border-color 200ms, background-color 200ms;
}

.search-bar__input:hover,
.search-bar__input:focus {
  border-color: $color-primary;
}

.search-bar__input::-webkit-search-decoration,
.search-bar__input::-webkit-search-cancel-button,
.search-bar__input::-webkit-search-results-button,
.search-bar__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-bar__input::-ms-clear {
  display: none;
}

.search-bar__icon {
  position: absolute;
  left: rem(15px);
  height: rem(20px);
  width: rem(20px);
  transition: color 300ms;
}
