.image {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: opacity 400ms 200ms;
}

.image--loaded .image__image {
  opacity: 1;
}

.image--fill {
  height: 100%;
  width: 100%;
  padding: 0 !important;
}

.image--portrait .image__image {
  object-fit: contain;
}
