<footer class="footer type-small">
  <div class="footer__main">
    <app-grid>
      <app-grid-row>
        <app-grid-column [md]="3">
          <ul class="footer__link-list">
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/community" class="footer__link"> About BrewDog </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.jobs.brewdog.com/" class="footer__link"> Jobs </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://presshub.brewdog.com/presshub/" class="footer__link"> Press Hub </a>
            </li>
            <li class="footer__link-list-item">
              <a href="http://brewdog.freshdesk.com/support/home" class="footer__link"> FAQs </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/customer-services/terms-and-conditions/" class="footer__link">
                Terms &amp; Conditions
              </a>
            </li>
          </ul>
        </app-grid-column>

        <app-grid-column [md]="3">
          <ul class="footer__link-list">
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/customer-services/contact-us/" class="footer__link">
                Contact Us
              </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/cookie-and-privacy-policy/" class="footer__link">
                Privacy Policy
              </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/responsibility/" class="footer__link"> Responsibility </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/trade-enquiries/" data-menu="menu-108486" class="footer__link">
                Trade Enquiries
              </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/shop/returns-and-refunds/" class="footer__link">
                Delivery &amp; Returns
              </a>
            </li>
          </ul>
        </app-grid-column>

        <app-grid-column [md]="3">
          <ul class="footer__link-list">
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/app/" class="footer__link"> BrewDog App </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/uk/company-information/" class="footer__link">
                Company Information
              </a>
            </li>
            <li class="footer__link-list-item">
              <a
                href="https://d1fnkk8n0t8a0e.cloudfront.net/docs/BREWDOG+RISK+ASSESSMENTS+JAN2021.pdf"
                class="footer__link"
              >
                COVID-19 Safety Update
              </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/responsibility/tackling-modern-slavery" class="footer__link">
                Modern Slavery Act
              </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/accessibility" class="footer__link"> Accessibility </a>
            </li>
            <li class="footer__link-list-item">
              <a href="https://www.brewdog.com/uk/bcorp" class="footer__link"> B Corp </a>
            </li>
          </ul>
        </app-grid-column>
        <app-grid-column [md]="3">
          <p class="footer__social-label">Follow us</p>
          <ul class="footer__social-list">
            <li class="footer__social-list-item">
              <a href="https://www.facebook.com/brewdogofficial/">
                <img
                  class="footer__social-icon"
                  src="https://www.brewdog.com/static/version0.0.0.11/frontend/Born/arcticFox/en_US/images/brands/facebook.png"
                  alt="facebook"
                />
              </a>
            </li>
            <li class="footer__social-list-item">
              <a href="https://www.youtube.com/channel/UCPVC6KvN8iZlG-baj3PYPyg">
                <img
                  class="footer__social-icon"
                  src="https://www.brewdog.com/static/version0.0.0.11/frontend/Born/arcticFox/en_US/images/brands/youtube.png"
                  alt="youtube"
                />
              </a>
            </li>
            <li class="footer__social-list-item">
              <a href="https://www.instagram.com/brewdogofficial/?hl=en">
                <img
                  class="footer__social-icon"
                  src="https://www.brewdog.com/static/version0.0.0.11/frontend/Born/arcticFox/en_US/images/brands/instagram.png"
                  alt="instagram"
                />
              </a>
            </li>
            <li class="footer__social-list-item">
              <a href="https://twitter.com/brewdog">
                <img
                  class="footer__social-icon"
                  src="https://www.brewdog.com/static/version0.0.0.11/frontend/Born/arcticFox/en_US/images/brands/twitter.png"
                  alt="twitter"
                />
              </a>
            </li>
            <li class="footer__social-list-item">
              <a href="https://untappd.com/brewdogbrewery">
                <img
                  class="footer__social-icon"
                  src="https://www.brewdog.com/static/version0.0.0.11/frontend/Born/arcticFox/en_US/images/brands/brand.png"
                  alt="untappd"
                />
              </a>
            </li>
          </ul>
        </app-grid-column>
      </app-grid-row>
    </app-grid>
  </div>

  <div class="footer__secondary">
    <app-grid>
      <app-grid-row>
        <app-grid-column>
          <div class="footer__copyright">&copy; Copyright BrewDog 2015-{{ copyrightYear }}</div>
        </app-grid-column>
      </app-grid-row>
    </app-grid>
  </div>
</footer>
