<div class="subheader">
  <app-grid [fluid]="true">
    <app-grid-row>
      <app-grid-column>
        <div class="subheader__inner">
          <a href="https://www.brewdog.com/uk/shop/returns-and-refunds" class="subheader__link">
            FREE Delivery when you fill a box
          </a>
          <a href="https://www.brewdog.com/uk/price-pledge" class="subheader__link">
            PRICE PLEDGE - The freshest beer at the best price
          </a>
          <a href="https://www.brewdog.com/uk/shop/returns-and-refunds" class="subheader__link">
            PRICE PLEDGE - The freshest beer at the best price
          </a>
        </div>
      </app-grid-column>
    </app-grid-row>
  </app-grid>
</div>
